
main{
    text-align: center;

}



footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;
    background-color: rgb(119, 113, 113);

    font-size: larger;

    padding-top:6px ;
}